.planScreen {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 15px; */
}

.planScreen > h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.subscription {
  padding: 10px 15px;
  font-size: 1rem;
  width: 35%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

div > p {
  margin-bottom: 20px;
}

.subscriptionAdded {
  padding: 10px 15px;
  font-size: 1rem;
  width: 35%;
  color: #fff;
  background-color: gray;
  border: none;
  cursor: pointer;
}
